@font-face {
    font-family: "montserrat-bold";
    src: url("/fonts/Montserrat-Black.otf");
}
@font-face {
    font-family: "montserrat-normal";
    src: url("/fonts/Montserrat-Medium.otf");
}

@font-face {
    font-family: "apercu-normal";
    src: url("/fonts/Apercu Medium.otf");
}

@font-face {
    font-family: "apercu-light";
    src: url("/fonts/Apercu Light.otf");
}