footer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: $size-base * 15;
    .footer-logo {
        width: 180px;
    }
}