p {
    text-align: justify;
    line-height: $font-size-base * 2;
}

h1, h2, h3, h4, h5 {
	font-family: "apercu-normal";
    position: relative;
    &:before {
        content: " ";
        left: -15px;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        width: 5px;
        height: 25px;
        background-color: map-get($colors, yellow);
    }
}

section {
    margin-top: $size-base * 25;
}
section:last-of-type {
    margin-bottom: $size-base * 15;
}