.heading {
	display: flex;
	flex-direction: row;
	position: relative;
	height: 100vh;
	.heading-image {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 70%;
		img {
			width: 100%;
		}
	}
	.heading-column {
		width: 100%;
		position: relative;
		z-index: -1;
		overflow: hidden;
		.heading-background-image {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			max-width: 60%;
			max-height: 80%;
			opacity: 0.15;
		}
	}
}
.section-background-video {
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}