@import "../node_modules/bootstrap/scss/bootstrap";

@import "settings";
@import "fonts";
@import "formatting";
@import "nav";
@import "heading";
@import "footer";

.no-before {
    &:before {
        content: none !important;
    }
}

.proximamente-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
}

.fundacion-paiz-text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
}